<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Data Viewer</title>
</head>
<body>
    <div class="content-wrapper">
        <div id="table">
            {{ table_data|safe }}
        </div>
        <div class="filters">
            <h2>Filters</h2>
            {% for column, entries in unique_entries.items() %}
            <div class="filter" data-column="{{ column }}">
                <div class = "input_line_wrapper">
                    <div class = "input_box_wrapper">
                        <input type="text" placeholder="{{ column }}s" readonly />
                    </div>
                    <div class = "clear_button"></div>
                </div>
                <ul class="options">
                    {% for entry in entries %}
                    <li class="option" data-state="available">{{ entry }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
    
